@import url(../css/styles.css);

@media screen and (max-width: 992px) {
  .nav {
    width: 50%;
  }

  .back-menu {
    display: none;
  }

  #nosotros,
  #contacto,
  #shop {
    padding: 2rem 0;
  }

  #hero {
    background-image: url(../assets/img/cafe15.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
  }

  .container-nosotros img {
    display: none;
  }

  iframe {
    display: none;
  }

  .formulario {
    width: 100%;
  }

  .item-datos-footer {
    width: 10rem;
  }

  .item-datos-footer h4 {
    font-size: 0.8rem;
    padding: 1rem 0;
  }

  .item-datos-footer p {
    font-size: 0.7rem;
  }

  .botones-carrito-container {
    flex-direction: column;
    gap: 1rem;
    align-items: end;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    background-image: url(../assets/img/cafe15.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
  }

  .container-titulos h1 {
    font-size: 3rem;
    line-height: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .container-datos-footer {
    gap: 0.5rem;
  }

  .item-datos-footer {
    width: 8rem;
    padding: 0 0.5rem;
  }

  .item-datos-footer h4 {
    font-size: 0.6rem;
    padding: 1rem 0;
  }

  .item-datos-footer p {
    font-size: 0.5rem;
  }

  .main-carrito {
    padding: 0.5rem;
    margin-top: 100px;
  }

  .titulo-carrito{
    font-size: 1rem;
    
  }
}

@media screen and (max-width: 576px) {
  header {
    padding: 0 1rem;
    height: 100px;
  }

  .logo {
    margin-left: 3rem;
    width: 60px;
    height: 60px;
  }

  .logo-login {
    margin-left: 0.5rem;
  }

  .container-iconos {
    gap: 1rem;
    margin-right: 10px;
  }

  .iconos-header {
    width: 20px;
    height: 20px;
  }

  .numerito {
    font-size: 0.5rem;
    padding: 0.2rem 0.4rem;
    right: -7px;
    top: -5px;
  }

  .nav {
    width: 100%;
    height: 70vh;
  }

  .navbar-list li {
    font-size: 1.5rem;
  }

  .barra-envios {
    margin-top: 100px;
  }

  .container-titulos {
    width: 80%;
  }

  .container-titulos h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .boton-h1 {
    width: 7.6rem;
    height: 3rem;
    font-size: 0.7rem;
  }

  h2 {
    font: 1.6rem;
  }

  .container-shop-cards {
    flex-direction: column;
    align-items: center;
  }

  .shop-categorias-container {
    gap: 1rem;
  }

  .shop-categorias {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
  }

  .container-nosotros {
    padding: 0;
    width: 90%;
  }

  .nosotros-text {
    padding: 1rem;
  }

  .container-contacto {
    padding: 2rem;
    width: 95%;
  }

  .redes a {
    font-size: 1.8rem;
  }

  .redes:hover a {
    font-size: 1.9rem;
  }

  .container-datos-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-copy {
    font-size: 0.8rem;
    text-align: center;
  }

  .item-datos-footer {
    width: 12rem;
    text-align: center;
    padding: 1rem 0;
    gap: 2rem;
    color: var(--color-font);
  }

  .item-datos-footer h4 {
    font-size: 1rem;
    padding: 1rem 0;
  }

  .item-datos-footer p {
    font-size: 0.9rem;
  }

  .container-login {
    padding: 2rem;
  }

  .login-register p {
    font-size: 0.6rem;
  }

  .login-register,
  .registro-realizado{
    margin-top: 0.5rem;
  }



  .registro-realizado{
    padding: 1rem;
    height: 100vh;
    border-radius: 0;

  }

  .registro-realizado h3{
    font-size: 1.2rem;
  }

  .registro-realizado 9{
    font-size: 0.6rem;
  }

  .registro-realizado i{
    font-size: 2rem;
  }

  .registro-realizado a{
    font-size: 0.8rem;
    padding: 0.5rem 1 rem;
  }


  


  /*CARRITO*/

  .container-carrito{
    padding: 0.5rem;
    gap: 1rem;
  }

  .container-carrito h4{
    font-size: 0.8rem;
  }
 
  .item {
    padding: 1rem;
    font-size: 0.6rem;
    gap: 0.5rem;
  }

  .item-datos,
  .item-cantidad,
  .item-subtotal {
    align-items: center;
    gap: 0;
  }

  .item img{
    width: 50px;
    height: 50px;
  }

  .item-datos p:first-child,
  .item-cantidad p:first-child,
  .item-subtotal p:first-child {
    font-size: 0.6rem;
  }

  .botones-carrito{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 0.6rem;
  }
 
  .botones-carrito-container {
    align-items: center;
    flex-direction: column-reverse;
    gap: 0;
  }

  .vaciar-carrito-container{
    display: flex;
    justify-content: center;
  }
}
