@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@200;300;400;600&display=swap");

:root {
  --color-font: #ffffff;
  --color-primary: #000;
  --brown-light: #8d734a;
  --precio: #333;
  --gray: #9c9c9c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  transition: 0.2 linear;
}

::selection {
  background-color: var(--color-font);
  color: var(--color-primary);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
}

body {
  background-color: var(--color-primary);
  position: relative;
}

a {
  text-decoration: none;
  color: var(--color-font);
}

h2 {
  color: var(--color-font);
  font-size: 3rem;
  text-align: center;
}

h2 span {
  color: var(--brown-light);
}

p {
  color: var(--color-font);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  width: 100%;
  height: 130px;
  position: fixed;
  top: 0;
  background-color: var(--color-primary);
  z-index: 1;
}

.logo {
  width: 100px;
  height: 100px;
  transition: 0.5s;
}

.logo:hover {
  width: 102px;
  height: 102px;
}

.container-iconos {
  position: relative;
  display: flex;
  gap: 1.5rem;
}

.iconos-header {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.numerito {
  border-radius: 50%;
  background-color: #8d734a;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 0.6rem;
}

.iconos-footer {
  width: 50px;
  height: 48px;
  transform: 0.5s;
}

.close-menu {
  margin: 2rem;
}

.nav {
  position: absolute;
  top: 0;
  left: -150%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-primary);
  width: 30%;
  height: 100vh;
  transition: all 0.5s ease;
  z-index: 1;
}

.visible {
  left: 0;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-list li {
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
}

.navbar-list li:hover {
  background-color: var(--brown-light);
}

.back-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.barra-envios {
  width: 100%;
  height: 35px;
  margin-top: 130px;
  background-color: var(--brown-light);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  font-size: 0.8rem;
  gap: 1rem;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

#hero {
  background-image: url(../assets/img/cafe15.jpg);
  background-size: cover;
  height: auto;
  padding: 10rem 0;
}

/**TITULO H1*/

.container-titulos {
  width: 60%;
  max-width: 1200px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  justify-content: center;
}

.container-titulos p {
  color: var(--brown-light);
  font-weight: bold;
}

.container-titulos h1 {
  color: var(--color-font);
  font-size: 4rem;
  line-height: 5rem;
  padding: 0.8rem 0;
  font-weight: 600;
}

.container-titulos h1 span {
  display: block;
}

.boton-h1 {
  background-color: transparent;
  color: var(--color-font);
  width: 10rem;
  height: 3.2rem;
  border: 2px solid var(--brown-light);
  font-weight: bold;
  transition: 0.5s;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-h1:hover {
  background-color: var(--brown-light);
}

.container-shop {
  display: flex;
  justify-content: center;
}

.card-shop {
  width: 500px;
  height: 500px;
}

/*Tienda*/

.container-shop {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.shop-categorias-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.shop-categorias {
  padding: 0.5rem 2rem;
  background-color: transparent;
  color: var(--color-font);
  border: 1px solid var(--brown-light);
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.5s;
}

.active {
  background-color: var(--brown-light);
  color: var(--color-primary);
}

.container-shop-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card-shop {
  border: 1px solid #292929;
  padding: 2rem;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card-shop:hover {
  transform: translateY(-10px);
  box-shadow: 1.25px 1.25px;
}

.card-shop img {
  border-radius: 50%;
  width: 80px;
  transition: 0.5s;
}

.card-shop:hover img {
  width: 90px;
}

.card-titulo {
  font-size: 0.8rem;
  font-weight: 300;
}

.card-precio {
  font-size: 0.9rem;
}

.boton-comprar {
  padding: 0.5rem 2rem;
  background-color: transparent;
  color: var(--brown-light);
  border: none;
  cursor: pointer;
}

.boton-comprar i {
  font-size: 1.6rem;
}

/*Nosotros y contacto*/

#nosotros,
#contacto,
#shop {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.container-nosotros {
  width: 100%;
  max-width: 1200px;
  border-radius: 0.2rem;
  color: var(--color-font);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(29, 28, 27, 0.5);
}

.container-nosotros img {
  border-radius: 0.2rem;
  width: 400px;
  height: 400px;
}

.nosotros-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
  font-weight: 300;
}

.nosotros-text h4 {
  color: var(--brown-light);
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

/*Seccion de contacto*/

.container-contacto {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: rgba(29, 28, 27, 0.5);
  border-radius: 0.2rem;
  padding: 5rem;
}

iframe {
  max-width: 50%;

  border-radius: 0.2rem;
}

/*FORMULARIOS*/

.formulario {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 800px;
  width: 50%;
}

.input-container,
textarea {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(179, 179, 179, 0.2);
  padding: 1rem;
}

.input-container i {
  color: var(--color-font);
}

.input-container input,
textarea {
  border: none;
  padding-left: 1rem;
  color: var(--color-font);
  font-weight: 600;
  font-size: 0.8rem;
}

input:focus,
textarea:focus {
  outline: none;
}

.input-container input {
  background-color: transparent;
}

.formulario .btn {
  width: 100%;
  border-radius: 0.2rem;
  padding: 0.8rem 0;
  border: none;
  color: var(--color-primary);
  background-color: var(--brown-light);
  letter-spacing: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.formulario .btn:hover {
  color: var(--color-font);
  border: 1px solid var(--color-font);
  background-color: transparent;
}

.redes {
  padding: 2rem;
}

.redes a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 3rem;
  color: var(--brown-light);
  transition: 0.5s;
}

.redes:hover a {
  font-size: 3.1rem;
}

/*FOOTER*/

.footer {
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  border-top: 1px solid #ffffff1a;
}

.container-footer {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.container-datos-footer {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.item-datos-footer {
  width: 12rem;
  text-align: center;
  padding: 1rem 0;
  gap: 2rem;
  color: var(--color-font);
}

.item-datos-footer h4 {
  font-size: 1rem;
  padding: 1rem 0;
}

.item-datos-footer p {
  font-size: 0.9rem;
}

.footer-copy {
  width: 100%;
  max-width: 1200px;
  height: auto;
  border-top: 1px solid #ffffff1a;
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: var(--color-font);
  font-size: 0.9rem;
}

.footer-copy a {
  color: var(--brown-light);
}

/*MAIN PAGINAS*/

.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}

/*LOGIN-REGISTRO*/

.container-login {
  max-width: 1200px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  border-radius: 0.3rem;
  position: relative;
  isolation: isolate;
}

.container-login::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.2;
  background-color: var(--color-primary);
  background-image: url(../assets/img/cafe16.jpg);
  background-size: cover;
  background-position: bottom;
}

.login-titulos {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.form-login {
  width: 100%;
}

.login-datos label {
  color: var(--color-font);
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.login-datos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-register {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem 3rem 0;
  margin-top: 2rem;
  text-align: center;
}

.login-register p {
  font-size: 0.8rem;
  font-weight: 300;
}

.login-register a {
  color: var(--brown-light);
  font-weight: 600;
}

/*CARRITO*/

.main-carrito {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 5rem;
  gap: 2rem;
}

.container-carrito {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.container-carrito h4{
  color: var(--color-font);
}

.main-carrito h1 {
  color: var(--color-font);
}

.carrito-vacio i,
.carrito-comprado i {
  font-size: 1.5rem;
  padding: 0 0.4rem;
}

.carrito-items {
  display: flex;
  flex-direction: column;
  
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 0.2rem;
  font-weight: 300;
  font-size: 0.8rem;
  border-top: 1px solid var(--precio);
 
}

.item:last-child{
  border-bottom: 1px solid var(--precio);
}

.item-datos,
.item-cantidad,
.item-subtotal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item img {
  width: 55px;
  height: 55px;
}

.boton-eliminar {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.boton-eliminar i {
  color: var(--color-font);
}

.botones-carrito-container {
  display: flex;
  justify-content: space-between;
}

.botones-carrito {
  width: 220px;
  padding: 1rem;
  background-color: var(--brown-light);
  border-radius: 0.2rem;
  border: none;
  color: var(--color-primary);
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.botones-carrito:hover {
  background-color: transparent;
  border: 1px solid var(--brown-light);
  color: var(--color-font);
}

.vaciar-carrito-container {
  display: flex;
  justify-content: end;
}

.calculo-total {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-top: 1px solid var(--precio);
  border-bottom: 1px solid var(--precio);
  gap: 1rem;
}

.disabled {
  display: none;
}
